
<main class="main">
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo d-flex ">
        <a href="index.html"><img src="/assets/img/CARBON.svg" alt="" class="img-fluid rounded-circle mx-3"></a>

        <h1 class="m-1"><a href="index.html">Carbon<span class="name-color ">Katha</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>
          <li><a class="nav-link scrollto" href="#corporate">Corporate</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>How much is your carbon footprint costing <span id="test">the planet?</span></h1>
            <h2>Join us in the fight against climate change by learning how to reduce your carbon footprint and take
              care of the environment.</h2>
            <div class="text-center text-lg-start">
              <a href="#about" class="text-dark btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="myModal" class="modal">
      <div class="modal-content ">
        <span class="close text-white cursor-pointer">&times;</span>

        <div class="">
          <div class="modal-top-bot">
            <div class="modal-content-top">
              <img src="assets/img/corporate.png" alt="Your Image">
            </div>
            <div class="modal-content-bottom">
              <p class="question">Want to know how much <span>carbon </span> your corporate is emitting?</p>
            </div>
          </div>
          <div class="button-bg ">
            <button class="button-85" role="button">DOWNLOAD APP</button>
            <a href="#corporate">
              <p>Track Your Company's Carbon Emissions <i class="fa fa-arrow-right" aria-hidden="true"></i> </p>
            </a>


          </div>
        </div>


      </div>
    </div>


    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 " preserveAspectRatio="none">
      <!-- <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g> -->
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch"
            data-aos="fade-right">

          </div>

          <div
            class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
            data-aos="fade-left">
            <h1>Introducing our application Carbon<span class="name-color">Katha</span></h1>
            <p>our application is dedicated to significantly lowering an individual's carbon footprint by influencing
              their daily habits and guiding them towards making environmentally responsible choices.</p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Carbon-Efficient Transportation Recommendations</a></h4>
              <p class="description">Input your city and destination to receive suggestions for the lowest carbon
                emission mode of transportation, promoting eco-friendly travel choices</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-chat"></i></div>
              <h4 class="title"><a href="">AI-Powered Chatbot (Carby) for Sustainable Living</a></h4>
              <p class="description">Engage with our AI chatbot, Carby, for instant information on sustainable living,
                including eco-friendly fashion tips, DIY projects, and more.</p>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bx-bowl-hot"></i></div>
              <h4 class="title"><a href="">Personalized Carbon-Friendly Recipe Suggestions</a></h4>
              <p class="description">Receive personalized, low-carbon recipe suggestions based on the ingredients you
                have at home.</p>
            </div>


          </div>
        </div>

        <div class="text-center text-lg-start d-flex justify-content-center align-items-center">
          <a href="" class="text-dark btn-download scrollto">Download App</a>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Features</h2>
          <p>Check The Features</p>
        </div>

        <div class="row" data-aos="fade-left">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="">Personalized Recipe Recommendations</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">Regular Updates and Insights</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
              <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
              <h3><a href="">Transportation Carbon Calculator</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
              <h3><a href="">User-Friendly Interface</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
              <i class="ri-database-2-line" style="color: #47aeff;"></i>
              <h3><a href="">Waste Decomposition Guidance</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
              <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
              <h3><a href="">Carby AI Chatbot</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3><a href="">Smart Grocery Lists</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
              <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
              <h3><a href="">Fashion Inspiration and DIY Suggestions</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
              <i class="ri-anchor-line" style="color: #b2904f;"></i>
              <h3><a href="">Community Engagement</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
              <i class="ri-disc-line" style="color: #b20969;"></i>
              <h3><a href="">Initiatives and Learning Hub</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="550">
              <i class="ri-base-station-line" style="color: #ff5828;"></i>
              <h3><a href="">Technology Sustainability Plans</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="600">
              <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
              <h3><a href="">Contribute to Carbon Offset Projects</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Features Section-->



    <!-- corporate section -->


    <main id="corporate" class="m-5 pt-5">

      <div class="section-title mx-5" data-aos="fade-up">
        <h2>Lower your corporate's carbon emission</h2>
        <p>Track your Company's Carbon Emissions</p>
      </div>

      <form id="myForm" class="corporate-form needs-validation container" novalidate="">

        <div>
          COMPANY OVERVIEW
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="companyName">Company Name</label>
            <input type="text" class="form-control" id="companyName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid Company Name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="industry">Industry</label>
            <input type="text" class="form-control" id="industry" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="locationOperation">Location(s) of Operations</label>
            <input type="text" class="form-control" id="locationOperation" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid Company Name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="operationalScale">Operational Scale</label>
            <input type="text" class="form-control" id="industry" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <hr class="mb-4">

        <div>NUMERICAL INFORMATION</div>

        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="empNumber">Number of Employees</label>
            <input type="text" class="form-control" id="empNumber" placeholder="" value="" required="">

          </div>
          <div class="col-md-3 mb-3">
            <label for="officeSpace">Size of Office Space (in square feet):</label>
            <select class="custom-select d-block w-100" id="country" required="">
              <option value="">Choose...</option>
              <option>
                < 100</option>
              <option>100-500</option>
              <option>500-1000</option>
              <option> > 1000</option>
            </select>

          </div>
          <div class="col-md-3 mb-3">
            <label for="officeSpace">Energy Consumption</label>
            <select class="custom-select d-block w-100" id="country" required="">
              <option value="">Choose...</option>
              <option>
                < 100</option>
              <option>100-500</option>
              <option>500-1000</option>
              <option> > 1000</option>
            </select>

          </div>
        </div>

        <hr class="mb-4">

        <div>CLOUD SERVER USAGE INFORMATION </div>

        <div class="row">
          <div class=" col-md-6 mb-3">
            <label>What percentage of your IT infrastructure is hosted on cloud servers? <span
                class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control">

          </div>

          <div class=" col-md-6 mb-3">
            <label>percentage of IT infrastructure hosted in-house</label>
            <input type="text" class="form-control">
          </div>
        </div>


        <hr class="mb-4">
        <div>
          PCs AND LAPTOPS
        </div>


        <div class="row ">
          <div class="col-md-6 mb-3">
            <label for="locationOperation">Number of desktop PCs in use</label>
            <input type="text" class="form-control" id="locationOperation" placeholder="" value="" required="">

          </div>
          <div class="col-md-6 mb-3">
            <label for="operationalScale">Number of laptops provided to employees:</label>
            <input type="text" class="form-control" id="industry" placeholder="" value="" required="">

          </div>
        </div>


        <div>TECH PRODUCT LIFESTYLE</div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="locationOperation">Average lifespan of desktop PCs (in years):</label>
            <input type="text" class="form-control" id="locationOperation" placeholder="" value="" required="">

          </div>
          <div class="col-md-6 mb-3">
            <label for="operationalScale">Average lifespan of laptops PCs (in years):</label>
            <input type="text" class="form-control" id="industry" placeholder="" value="" required="">

          </div>

        </div>



        <hr class="mb-4">
        <div>ELECTRICITY CONSUMPTION</div>


        <div class="row">
          <div class=" mb-3">
            <label for="operationalScale">Breakdown of monthly electricity consumption by IT operations (servers, PCs,
              laptops, etc.)</label>
            <input type="text" class="form-control" id="industry" placeholder="" value="" required="">
          </div>
          <button class="btn btn-submit" type="submit"> SUBMIT </button>
        </div>



      </form>

    </main>

    <!-- OUR frameworks -->

    <div class="container mt-5">
      <div class="section-title">

        <div class="section-title" data-aos="fade-up">
          <h2>Lower your corporate's carbon emission</h2>
          <p>Our 4 step framework for corporates</p>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-md-12">
            <div class="main-timeline5">
              <div class="timeline" data-aos="fade-right" data-aos-delay="100">
                <div class="timeline-icon"><span class="year">1</span></div>
                <div class="timeline-content">
                  <h3 class="title">Assessment and Measurement</h3>
                  <p class="description">
                    Understanding Your Carbon Footprint Gain insights into your current environmental impact through a
                    comprehensive carbon emissions assessment.
                  </p>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-icon"><span class="year">2</span></div>
                <div class="timeline-content">
                  <h3 class="title">Customized Planning</h3>
                  <p class="description">
                    Tailored Strategies for Sustainability
                    Collaborate with us to design customized plans and set achievable sustainability goals aligned with
                    your business objective
                  </p>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-icon"><span class="year">3</span></div>
                <div class="timeline-content">
                  <h3 class="title">Implementation and Integration</h3>
                  <p class="description">
                    Executing Sustainable Initiatives Implement recommended changes seamlessly, incorporating
                    energy-efficient technologies and fostering eco-friendly practices in daily operations.
                  </p>
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-icon"><span class="year">4</span></div>
                <div class="timeline-content">
                  <h3 class="title">Monitoring and Continuous Improvement</h3>
                  <p class="description">
                    Sustainable Culture, Ongoing Improvement
                    Establish continuous monitoring systems, foster a culture of environmental responsibility, and
                    strive for ongoing improvement in reducing your carbon footprint.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <p>Contact Us</p>
          </div>

          <div class="row">

            <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Mumbai ,India</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>projectcarbonkatha&#64;gmail.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 8856846647</p>
                </div>

              </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

              <form action="mailto:projectcarbonkatha@gmail.com" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>

            </div>

          </div>

        </div>
      </section><!-- End Contact Section -->

  </main><!-- End-->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script>var test = document.getElementById("test");

    var texts = ["the environment?", "your health?", "the future generations?", "the businesses?", "the society?", "the planet?"]; // Array of strings
    var currentIndex = 0;
    var result = "";

    function typeWriter() {
      if (currentIndex < texts.length) {
        var currentText = texts[currentIndex];
        for (let i = 0; i < currentText.length; i++) {
          setTimeout(function () {
            result += currentText[i];
            test.innerHTML = result;
          }, 120 * i);
        }
        currentIndex++;
        result = ""; // Reset result for the next string
      }
    }

    // Call typeWriter function every 5 seconds
    window.addEventListener("load", (event) => {
      setInterval(typeWriter, 5000);
    });
  </script>

  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Function to open the modal
    function openModal() {
      modal.style.display = "block";
    }

    // Trigger the modal to open after 10 seconds
    setTimeout(openModal, 10000);

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }





  </script>

</body>

</main>




<router-outlet><router-outlet />
